.client__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  --items: 6;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  width: 170px;
  height: 90px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  background-color: #ffffff;
  fill: #afb1b8;
  transition: border var(cubic), fill var(cubic);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: #188ce8;
    outline: none;
  }
}
